# Ignore virtual environment directory
.venv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore macOS system files
.DS_Store

# Ignore other files or folders you don't want to track (e.g., data files)
# data/
# output/